# Class Tanımlamak
* Fonksiyonlarda belirli fonksiyonalite ifade eden kodları bir araya getirmeyi görmüştük. Class mantığında hem fonksiyonalite hem de veriyi bir arada tutma yoluna bakacağız.
* Class ın içerisindeki veri(data)lara attribute, fonksiyonlara method diyeceğiz.
* Diyelim ki bir iş yeri çalışanları kodumuzda ifade etmek istiyoruz. Sanki bu class mantığıyla uyumlu. Her çalışanın farklı farklı özellikleri (attribute)ları ve yaptıkları şeyler (methodları) olacak.
* Fonksiyon tanımlarken def kullanıyorduk, class yaratırken class ile tanımlayacağız.
* Classın içerisinde method yaratırken, classtan yaratılan objeyi methodlar ilk arguman olarak alırlar. İstediğimiz adı verebiliriz ama genellikle self diye geçer.

### Attribute

In [1]:
class Employee:

SyntaxError: incomplete input (3505898793.py, line 1)

In [2]:
class Employee:
    pass

In [3]:
e=Employee()

In [4]:
#e objesine "a" attribute u ekledik
e.a=4

In [5]:
e.a

4

* Böyle tek tek belirtmek yerine en başta oluştururken de attribute ları verebiliriz

In [6]:
class Employee:
    def __init__(self,name,last,age,pay):
        self.name=name
        self.last=last
        self.age=age
        self.pay=pay

* Class bunlardan objeler yaratmak için bir kalıptır sadece!

In [7]:
emp_1=Employee("James","Hughes",32,5000)

* Yukarıda yarattığımız bir obje oldu, Employee classının bir objesi

In [8]:
emp_2=Employee("Charlie","Brown",22,3000)

In [9]:
emp_1.name

'James'

In [10]:
emp_2.age

22

* Burada yarattığımız bütün attributelar instance variable. Her obje(classtan yaratılan instance),kendine özel attributea sahip(iki kişinin adı aynı olabilir, ama hepsi için ayrı bir variable var ve hepsi kendi age attributeunda tutuyor)

### Method

In [16]:
class Employee:
    def __init__(self,name,last,age,pay):
        self.name=name
        self.last=last
        self.age=age
        self.pay=pay
    def fullname(self):
        print(f"{self.name} {self.last}")

In [17]:
emp_1=Employee("James","Hughes",32,5000)

In [18]:
emp_2=Employee("Charlie","Brown",22,3000)

In [19]:
emp_1.fullname()

James Hughes

In [20]:
emp_2.fullname()

Charlie Brown

* self otomatik olarak aktarılıyor demiştim, eğer selfi argüman olarak vermezsek:

In [25]:
class Employee:
    def __init__(self,name,last,age,pay):
        self.name=name
        self.last=last
        self.age=age
        self.pay=pay
    def fullname():
        print(f"{self.name} {self.last}")

In [26]:
emp_1=Employee("James","Hughes",32,5000)

In [27]:
emp_1.fullname()

TypeError: Employee.fullname() takes 0 positional arguments but 1 was given

* self otomatik verildiği için, method tanımında onu belirtmezsek hata alıyoruz.
* Aslında arka planda olan şu:

In [28]:
class Employee:
    def __init__(self,name,last,age,pay):
        self.name=name
        self.last=last
        self.age=age
        self.pay=pay
    def fullname(self):
        print(f"{self.name} {self.last}")

In [29]:
emp_1=Employee("James","Hughes",32,5000)

In [30]:
Employee.fullname(emp_1)

James Hughes